@import "../node_modules/bulma/css/bulma.min.css";

:root {
  --playerBoardWidth: 50vw;
  /* COLOR PALLETE */
  /* https://www.color-hex.com/color-palette/57915 */
  --color-p1: #26ff4e;
  --color-p1: #ffffff;
  --color1: #ff00c1;
  --color2: #69ee74;
  --color2: #26ff4e;
  --color3: #00b8ff;
  --color4: #4900ff;
  --color4: #9600ff;
  --color5: #00fff9;
  --color-p1_shade: #16992e;
  --color-p1_shade: #999999;

  --color1_shade1: #ffb2ec;
  --color2_shade1: #92ffa6;
  --color3_shade1: #b2e9ff;
  --color4_shade1: #c8b2ff;
  --color4_shade1: #dfb2ff;
  --color5_shade1: #b2fffd;
  /* --color1_shade2: #cc009a;
  --color2_shade2: #7800cc;
  --color3_shade2: #3a00cc;
  --color4_shade2: #0093cc;
  --color5_shade2: #00ccc7; */
  /* --color1_shade3: #ff66d9;
  --color2_shade3: #c066ff;
  --color3_shade3: #9166ff;
  --color4_shade3: #66d4ff;
  --color5_shade3: #66fffb; */

  --background_main: black;
  --background_pboard1: #1e0033;
  --highlight_pboard1: #d599ff;

  --background_pboard2: #00fff9;
  --highlight_pboard2: #ff4cd3;
  --background_pboard3: #ff00c1;
  --highlight_primary: #d599ff;
  --secondary_highlight: #ffff00;

  --color_scoreMarker: var(--color-p1);
  --color_scoreMarkerBase: var(--color-p1_shade);

  /* --color-p1: rgba(0, 213, 209, 0.946);
  --color1: rgba(0, 0, 213, 0.946);
  --color2: rgba(136, 134, 38, 0.946);
  --color3: rgba(213, 0, 0);
  --color4: rgba(0, 0, 0, 0.946);
  --color5: white;
  --baseColor-p1: rgba(0, 213, 209, 0.422);
  --baseColor1: rgba(32, 32, 55);
  --baseColor2: rgb(60, 60, 17);
  --baseColor3: rgb(55, 32, 32);
  --baseColor4: rgb(63, 62, 62);
  --baseColor5: rgb(103, 103, 103);
  */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}
